[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sujinzhao
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sujinzhao
	label-Verified = -1..+1 group user/sujinzhao
	push = group user/sujinzhao
	read = group user/sujinzhao
	rebase = group user/sujinzhao
	removeReviewer = group user/sujinzhao
	submit = group user/sujinzhao
[access "refs/heads/*"]
	create = group user/sujinzhao
	push = +force group user/sujinzhao
	pushMerge = group user/sujinzhao
	read = group user/sujinzhao
[access "refs/tags/*"]
	push = group user/sujinzhao
	push = +force group user/sujinzhao
